<div class="container mt-4 mb-5  ">
        <div class="row d-flex align-items-center justify-content-center vh-100">
            
            <div class="col-12 col-lg-6 col-xl-4 d-flex align-items-center justify-content-center tamaño_container_col_principal">
                <div class="row ">
                    <div class="col-12 me-lg-5 d-flex align-items-center justify-content-center tamaño_container_col_cuadro_interior ">
                        <div class="row g-4 shadow">
                            <div class="col-12 text-center">
                                <span class="fs-1">
                                    Transferir de Cuenta
                                </span>
                            </div>
                            
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="imagen_retirar tamaño_container_imagenes">
        
                                </div>
                            </div>
                            
                            <div class="col-12 mb-4 d-flex align-items-center justify-content-center">
       
                                <%= link_to 'Transferir', transferir_path, class: "btn btn-success" %>	
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 d-flex align-items-center justify-content-center tamaño_container_col_principal">
                <div class="row ">
                    <div class="col-12 ms-lg-5 ms-xl-4 d-flex align-items-center justify-content-center tamaño_container_col_cuadro_interior ">
                        <div class="row g-4 shadow">
                            <div class="col-12 text-center">
                                <span class="fs-1">
                                    Depositar a Cuenta
                                </span>
                            </div>
                            
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="imagen_depositar tamaño_container_imagenes">
        
                                </div>
                            </div>
                            
                            <div class="col-12 mb-4 d-flex align-items-center justify-content-center">
                               
                                <%= link_to 'Depositar', depositar_path, class: "btn btn-success" %>	
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3 d-none d-lg-block d-xl-none"></div>
            <div class="col-12 col-lg-6 col-xl-4 d-flex align-items-center justify-content-center tamaño_container_col_principal">
                <div class="row ">
                    <div class="col-12 ms-lg-4 ms-xl-5 d-flex align-items-center justify-content-center tamaño_container_col_cuadro_interior ">
                        <div class="row g-4 shadow">
                            <div class="col-12 text-center">
                                <span class="fs-1">
                                    Consultar Movimiento
                                </span>
                            </div>
                            
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="imagen_consultar tamaño_container_imagenes">
        
                                </div>
                            </div>
                            
                            <div class="col-12 mb-4 d-flex align-items-center justify-content-center">
                               
                                <%= link_to 'Consultar', consultar_path, class: "btn btn-success" %>	
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3 d-none d-lg-block d-xl-none"></div>

        </div>
        
        
    </div>
